h1 {
  margin-bottom: 10px;
  background-color: #add8e6;
  width: 100%;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.damageControl {
  display: inline-block;
}
#row1,
#row2,
#row3,
#row4,
#row5 {
  margin: 25px auto;
  border: 1px solid #000;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #808080;
}
#refresh {
  padding-top: 10px;
  margin-right: 20px;
}
