

.artBlock
	width 33%

	
	

h1
	margin-bottom 10px
	margin-top 0
	width 100%
	color white
	padding-top 50px
	padding-bottom 50px
	text-align center
	
	
.damageControl
	display block
	text-decoration none
	font-size 16px
	color darkblue
	text-shadow 0 0 2px lightblue
	letter-spacing 3px
	padding-bottom 5px
	

	
	
.damageControl:hover
	text-decoration none
	color lightblue
	
.damageControl:visited
	text-decoration none
	color red
	
// .row 
// 	display inline-flex 
// 	flex-wrap wrap
	
#row1, #row2, #row3, #row4, #row5 
	margin 25px auto
	

// p
// 	display inline-block
// 	margin 0

// div div div:nth-child(even)
// 	border 1px solid black 
// 	box-shadow 5px 5px 10px gray
// 	margin auto

	
// div div div:nth-child(odd)
// 	border 1px solid black
// 	box-shadow 5px 5px 10px gray
	
#refresh 
	padding-top 10px
	margin-right 20px
	
.articleTitle 
	color lightblue
	
.redditfooter
	margin-bottom 20px
	background-color #2c3539
	width 100%
	color #000000
	padding-top 50px
	padding-bottom 50px
	text-align center
	border-style solid
	 
	
	
	
