h1 {
  margin: 0 0 10px 0;
  width: 100%;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.damageControl {
  display: block;
  text-decoration: none;
  font-size: 16px;
  color: #00008b;
  text-shadow: 0 0 2px #add8e6;
  letter-spacing: 3px;
  padding-bottom: 5px;
}
.damageControl:hover {
  text-decoration: none;
  color: #add8e6;
}
.damageControl:visited {
  text-decoration: none;
  color: #f00;
}
#row1,
#row2,
#row3,
#row4,
#row5 {
  margin: 25px auto;
}
.articleTitle {
  color: #add8e6;
}
.redditfooter {
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
