h1 {
  margin-bottom: 10px;
  background-color: #add8e6;
  width: 100%;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.damageControl {
  display: inline-block;
}
#row1,
#row2,
#row3,
#row4,
#row5 {
  margin: 25px auto;
}
